


/*order items*/

.rowDiv{
    border-top: 1px solid grey;
    overflow: auto;
}

.dataDiv{
    display:flex;
    border-right: 1px solid grey;
    padding: 15px;
}

.dataDiv img{
    width:180px;
    height:180px;
    flex: 0 0 auto;
}

.dataDiv ul{
    flex: 1 1 auto;
    list-style-type: none;
}

.dataDiv ul p{
    font-weight: bold;
    font-family:monospace;
    margin-right:10px;
    color:#4aacff;
}

.inlineParagraph{
    display:inline;
}

.inlineParagraph.extraInfo{
    margin-right:0;
    margin-left: 10px;
}



li.extraInfo{
    font-size:small;
    font-family:monospace;
}

.actionDiv{
    display:flex;
    flex-direction: column;
}

.actionDiv input{
    width:40px;

}
.actionDiv .input-group{
    margin-top:15px;
}

.actionDiv div:first-child{
    line-height: 35px;
    height:35px;
    text-align: center;
    border-bottom:1px solid grey;
}

#currentQuantity{
    margin-top:15px;
}

#currentQuantity span{
    font-weight:bold;
}


