.active{
    background-color: #ffd8a1;
}

.jumbotron{
    margin-bottom:0;
}

#messageDiv{
    color:red;
    text-align:center;
    line-height: 30px;
    background-color: palegreen;
}

.navbar-collapse{
    padding:0;
}

#thumbnailHolder{
    width: 90%;

    overflow: auto;
    margin: auto;
    margin-bottom: 100px;
}

.thumbnail{
    overflow:auto;
    min-height:400px;
}

