/*search staff*/

/*remove spinner*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.panel{
    margin:auto;
    width:90%;
    margin-bottom: 30px;
}


.panel-heading span{
    color:red;
    padding-left:20px;
}

.cornerButton{
    position:absolute;

    top:0;
    width:20px;

}

.cornerButton.edit{
    left:0;

}

.cornerButton.delete{
    left:25px;

}

td{
    position: relative;
}

td button{
    padding:0;
    border:0;
    background-color:transparent;
    display: none;
}

td button:hover{
    background-color: red;
}



tr:hover .cornerButton{
    display: inline;
}



/*navbar*/

#personalPageLink{
    color: black;
    text-decoration: none;
}

#personalPageLink p{
    padding: 15px 0 15px 0;
    margin:0;

}




.hoverable:hover{
    background-color: #dedede !important;
    cursor: pointer;
}

/*add staff*/

.mandatoryItem:after{
    content: "*";
    color:red;
}


#dapartmentSelect{
    font-family:"Courier New", Courier, monospace;
}

.errorLabel{
    background:#ffd8a1;
}

/*create item*/

textarea{
    resize: none;
}



.greyDiv {
    display:none;
    background-color:#eaeaea;
}


#racketFields input, #apparelFields input.form-control{
    width:130px;
}

#racketFields label, #apparelFields label{
    padding-left:20px;
}

#apparelFields  .radio-inline{
    margin-left:10px;
}

#canvasDiv{
    margin: 20px auto auto;
    width:300px;

}


/*order items*/

.rowDiv{
    border-top: 1px solid grey;
    overflow: auto;
}

.dataDiv{
    display:flex;
    border-right: 1px solid grey;
    padding: 15px;
}

.dataDiv img{
    width:180px;
    height:180px;
    flex: 0 0 auto;
}

.dataDiv ul{
    flex: 1 1 auto;
    list-style-type: none;
}

.dataDiv ul p{
    font-weight: bold;
    font-family:monospace;
    margin-right:10px;
    color:#4aacff;
}

.inlineParagraph{
    display:inline;
}

.inlineParagraph.extraInfo{
    margin-right:0;
    margin-left: 10px;
}



li.extraInfo{
    font-size:small;
    font-family:monospace;
}

.actionDiv{
    display:flex;
    flex-direction: column;
}

.actionDiv input{
    width:40px;

}
.actionDiv .input-group{
    margin-top:15px;
}

.actionDiv div:first-child{
    line-height: 35px;
    height:35px;
    text-align: center;
    border-bottom:1px solid grey;
}

#currentQuantity{
    margin-top:15px;
}

#currentQuantity span{
    font-weight:bold;
}


